block content
    h1.
        User List
    
    table
       th
        each day, i in days
            th=day.name
    
 //      tr
 //         each guestVisitRow, i in guestVisitRows
 //            td=guestVisitRow.guest.name //class = guest.veg
//			 
//			 each visit, i in guestVisitRow
 //                if (null) td
 //                else td //class=visit ? veg
