block content
    h1.
        User List
    
    table
       th
        each day, i in days
            th=day.name
    
       
          each guestVisitRow, i in guestVisitRows
             tr
               td=guestVisitRow.guest.name
               each visit, i in guestVisitRow
                  td=visit
