block content
    h1.
        User List
    
    table
       th
        each day, i in days
            th=day.name
    
       
          each guestVisitRow, i in guestVisitRows
             if guestVisitRow.visitRow
              tr
               td=guestVisitRow.guest.name
                 each visit, i in guestVisitRow.visitRow
                   if visit
                      td=visit
                   else
                      td
